{% extends "app/layout.html" %}

{% block content %}

<ul class="portfolio-grid">
                      
          <li class="grid-item-txt" data-jkit="[show:delay=3000;speed=500;animation=fade]" >
                <p style="float: left; padding-left: 0; line-height: 24px;">
                    <b style="font-weight: 600;">rol. wilh. schmitt</b><br>
                    72488 sigmaringen<br>
                    schützenstraße 16.1<br>
                    tel.: 07571/7319966<br>
                    mobil: 01728416466<br>
                    email: <a style="color: black;" href="mailto:someone@example.com">rol-wilh-schmitt@web.de</a>
                </p>              
            </li>           
      </ul>

{% endblock %}