{% extends "app/layout.html" %}

{% block content %}

<ul class="portfolio-grid">
           
          
            <li class="grid-item-bio" data-jkit="[show:delay=3000;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text" data-jkit="[show:delay=3000;speed=500;animation=fade]">              
                <p>1951<br><br> geboren  in Götzingen, Neckar-Odenwaldkreis</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3100;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text-r" data-jkit="[show:delay=3100;speed=500;animation=fade]">              
                <p>1970 - 76<br><br>		Studium an der Staatlichen Akademie der Bildenden 			Künste, Stuttgart</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3200;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text" data-jkit="[show:delay=3200;speed=500;animation=fade]">              
                <p>1970 - 74<br><br>		Studium der Kunstgeschichte an der Universität 				Stuttgart
</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3300;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text-r" data-jkit="[show:delay=3300;speed=500;animation=fade]">              
                <p>1976<br><br> 			Lehrbeauftragter für Keramik, PH  Reutlingen</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3400;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text" data-jkit="[show:delay=3400;speed=500;animation=fade]">              
                <p>1978 - 2014<br><br>	Kunsterzieher am Gymnasium 
</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3500;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text-r" data-jkit="[show:delay=3500;speed=500;animation=fade]">              
                <p>seit     1980<br><br>	Ausstellungen, Ausstellungsbeteiligungen und 				Wettbewerbe
</p>              
            </li> 
          
          <li class="grid-item-bio" data-jkit="[show:delay=3600;speed=500;animation=fade]">              
                <div class="kreis"></div>                
            </li> 
          
          <li class="grid-item-bio-text" style="background: none;" data-jkit="[show:delay=3600;speed=500;animation=fade]">              
                <p>seit	  2006<br><br>	Atelier / Galerie 16.1 in Sigmaringen</p>              
            </li> 
          
      </ul>
                  
           
      
      <!-- 2 -->
      
      <div class="text-intro" style="margin-top: 40px;">

          <h1 style="width: 100%;">Arbeiten in öffentlichem besitz</h1>
          <!--<p>Please check my portfolio. All project is clean and simplicity modern style. You can buy this template.</p>-->

        </div>

      
      <ul class="portfolio-grid">
      
          <li class="grid-item-txt" data-jkit="[show:delay=3000;speed=500;animation=fade]"><p class="list-text">Oberfinanzdirektion Stuttgart</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3100;speed=500;animation=fade]"><p class="list-text">Ministerium für Wissenschaft, Forschung und Kunst Baden Württemberg</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3200;speed=500;animation=fade]"><p class="list-text">Staatsgalerie Stuttgart</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3300;speed=500;animation=fade]"><p class="list-text">Regierungspräsidium Tübingen</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3400;speed=500;animation=fade]"><p class="list-text">Regierungspräsidium Freiburg</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3500;speed=500;animation=fade]"><p class="list-text">Gemeinde Langenargen</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3600;speed=500;animation=fade]"><p class="list-text">Zollern Alb Kreis</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3700;speed=500;animation=fade]"><p class="list-text">Landkreis Sigmaringen</p></li>
          <li class="grid-item-txt" data-jkit="[show:delay=3800;speed=500;animation=fade]"><p class="list-text">Stadt Herrenberg</p></li>
          
      </ul>

{% endblock %}